- include_role:
    name: update_cache

- name: Install Python (Ubuntu)
  apt:
    name: 
      - python3
      - python3-pip
      - python3-venv
    state: latest
  when: ansible_distribution == "Ubuntu"

- name: Install Python (Amazon|CentOs)
  yum:
    name:
      - python3
      - python3-pip
    state: latest
  when: ansible_distribution == "Amazon" or ansible_distribution == "CentOs"